.dash-parent {
  min-height: calc(100vh);
}

.dark {
  background-color: #1f1f1f;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-color {
  color: #2a2961;
}

.secondary-color {
  color: #5f5dbb;
}

.gray-text {
  color: #666;
}

a {
  text-decoration: none;
}

a.stateful:visited {
  color: #551a8b;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-25 {
  font-size: 25px;
}

.img-h-100 {
  height: 100%;
}

.full-w {
  width: 100%;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}