.parent {
  padding-top: 5rem;
  display: flex;
  justify-content: center;

  .message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 15px;
    margin-top: 2rem;
    font-size: 25px;
    background-color: #383838;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgb(0 0 0 / 25%);

    .top {
      color: #739b73;
    }

    .bottom {
      color: #826f9f;
    }

  }
}